@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Poppins:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
  line-height: normal;
}

a {
  text-decoration: none;
}

.main-topic {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 5rem;
}

.top-nav-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
}

.container.introduction {
  background-image: url("/resources/images/image_geometry_2.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.grd-container {
  display: grid;
  justify-content: center;
}

.works-catalog {
  grid-template-rows: repeat(9, auto auto);
}

.introduction {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  flex-direction: column;
  min-height: 85vh;
  align-items: center;
  padding: 2.5rem;
}

.developers-name {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: #1a2236;
  font-size: 5rem;
  line-height: 5rem;
}

.intro-content {
  font-family: Poppins, serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #1a2236;
  line-height: 21px;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.colab-detail {
  display: flex;
  padding-top: 2.5rem;
}

.colab-butn {
  display: flex;
  flex: 1;
  justify-content: center;
}

.start-colab {
  font-family: Poppins, serif;
  font-size: 1.6rem;
  color: #fff;
  background: #1a2236;
  padding: 1.3rem 3rem;
  flex: 1;
}

.colab-butn a:hover {
  color: #1a2236;
  background-color: #fff;
  border: 1px solid #1a2236;
  transform: scale(1.02);
}

.colab-butn a:active {
  border: 2px solid #1a2236;
}

.works-bttn {
  display: inline-flex;
  gap: 1rem;
  font-family: Poppins, serif;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid #fff;
  padding: 1rem 2rem;
}

.works-btn-styles {
  color: #fff;
}

.menu-burger-image img:hover {
  transform: scale(1.2);
}

.topic-h2 {
  display: flex;
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

.project-intro {
  display: flex;
  flex: 1;
  justify-content: center;
}

.works-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  background-color: #1a2236;
  padding-left: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

.works-info h3 {
  font-family: Poppins, serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  padding-top: 1rem;
}

.skills-list {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.skills-list li {
  background-color: #98dede;
  padding: 0.5rem 1.5rem;
  font-family: Poppins, serif;
  font-weight: 300;
}

.arrow-image {
  padding-top: 0.3rem;
  height: 100%;
}

.about-paragraph {
  font-family: Poppins, serif;
  font-weight: 400;
  font-size: 1.4rem;
  padding-left: 2rem;
  padding-bottom: 2.5rem;
}

.get-my-cv-btn {
  display: flex;
  gap: 2rem;
  margin: 0 2rem;
  margin-bottom: 1.5rem;
}

.about-content {
  padding-top: 2rem;
}

.lang-fw-skills {
  font-family: Poppins, serif;
  font-weight: 800;
  font-size: 20px;
  padding-left: 4rem;
  padding-bottom: 2.5rem;
  color: #fff;
}

.lang-fw-skills-boxes {
  display: flex;
  margin: 2.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.languages-box {
  display: flex;
  background-color: #1c528a;
  background-image: url("/resources/images/hashtag.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.frameworks-box {
  background-color: #e2505c;
  background-image: url("/resources/images/rectangle.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.skills-box {
  background-color: #febf52;
  background-image: url("/resources/images/bulbskills.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.bottom-boxes {
  box-sizing: border-box;
  min-height: 28.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bottom-boxes .category-listed {
  list-style: disc;
  font-family: Poppins, serif;
  font-size: 1.6rem;
  color: #fff;
  padding-left: 6rem;
}

.languages-content {
  display: flex;
  flex-direction: column;
}

.section-image {
  min-width: 100%;
}

.category-header {
  font-family: Poppins, serif;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  padding-bottom: 2.5rem;
  display: block;
  padding-left: 4rem;
}

.social-media {
  display: flex;
  background-color: #1a2236;
}

.social-media ul {
  display: flex;
}
