@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Poppins:wght@400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
  line-height: normal;
}

a {
  text-decoration: none;
}

.top-nav-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
}

.container.introduction {
  background-image: url("/resources/images/image_geometry_2.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.introduction {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  flex-direction: column;
  min-height: 75vh;
  align-items: center;
  padding: 2.5rem;
}

.developers-name {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: #1a2236;
  font-size: 5rem;
  line-height: 5rem;
}

.intro-content {
  font-family: "Poppins", serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #1a2236;
  line-height: 21px;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.colab-detail {
  display: flex;
  padding-top: 2.5rem;
}

.colab-butn {
  display: flex;
}

.start-colab {
  font-family: "Poppins", serif;
  font-size: 1.6rem;
  color: #fff;
  background: #1a2236;
  padding: 1.3rem 6.2rem;
}

.colab-butn a:hover {
  color: #1a2236;
  background-color: #fff;
  border: 1px solid #1a2236;
  transform: scale(1.02);
}

.colab-butn a:active {
  border: 2px solid #1a2236;
}

.menu-burger-image img:hover {
  transform: scale(1.2);
}
